[submodule "demo-module"]
	path = demo-module
	url = https://github.com/kimdang2/demo-single-select-module.git
[submodule "demo-single-select"]
	path = demo-single-select
	url = https://github.com/kimdang2/demo-single-select-module.git
[submodule "demo"]
	path = demo
	url = https://github.com/kimdang2/demo-single-select-module.git
