@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family:'Montserrat',sans-serif;
  background-color: #f7f7f7;
  color: #0A2463;
}

.single-select {
  position: absolute;
  align-items: center;
}

.dropdown-container {
  border-radius: 5px;
  border: 1px solid #a9a9a952;
  /*Change width of drop down display*/
  width: 350px;
}

.dropdown-container:focus-within{
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  border-color: #457b9d;
}

.dropdown-input {
  padding: 5px 10px;
  width: auto;
  border: 1px solid #a9a9a952;
  font-size: 18px;
  text-transform: capitalize;
  border: none;
  outline: none;
  background:none;
}

.dropdown-menu {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #a9a9a952;
  background-color: white;
  top: 5px;
  width: 100%;
  /* Scollbars */
  max-height: 250px;
  overflow: auto;
  /* Reposition stack order (menu will appears in front of elements)*/
  z-index: 1;
  position :relative
}

.dropdown-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: black;
  font-family:'Montserrat',sans-serif;
}

.dropdown-value,
span {
  font-size: 17px;
  font-weight: 100;
  text-transform: capitalize;
}

/* Cursor change */
span {
  cursor: pointer;
}

.dropdown-value:hover{
  background-color: #98c1d9;
}

.vertical-line-seperator {
  border-left: 1px solid rgb(212, 208, 208);
  height: 20px;
  padding: 2px;
}

.icon-selectors {
  display: inline-block;
  float: right;
}

img {
  width: 20px;
  height: 20px;
}

@media all and (max-width: 520px ) {
  .dropdown-input {
    width:50%;
  }
}
